<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>DATA Table</h2>
<h3><a href="{% url 'create' %}" >Add New</a></h3>

<table>
 
    <thead>
        <tr>
          <th>ID</th>
            <th>title</th>
            <th>description</th>
            <th>priority</th>
            <th>created_by</th>
            <th>created_at</th>
            
            
        </tr>
        </thead>
        <tbody>
          {% if list_data %}
          
            <tr> <td>{{ list_data.id }}</td>
                <td>{{ list_data.title }}</td>
                <td>{{ list_data.description }}</td>
                <td>{{ list_data.priority }}</td>
                <td>{{list_data.created_by }}</td>
                <td>{{list_data.created_at }}</td>
                
              </tr> 
          
            {% else %}

          <h4> No Data</h4>

          {% endif %}
          </tbody>     
         
</table>

</body>
</html>